/* Andy Bell's CSS Resets */

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;

  --clr-white: #fff;
  --clr-black: #000000;

  --clr-somehow-gray: #D0D6F9;

  --container-lg: 95%;
  --container-md: 94%;
  --container-sm: 96%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  /* padding-bottom: 100000px; */
  overflow-x: hidden;
  display: grid;
  grid-template-rows: min-content 1fr;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}


/* General Styles */
.container {
  width: var(--container-sm);
  /* background-color: red; */
  margin: 0 auto;
}

.container-section {
  width: var(--container-sm);
  margin: 0 auto;
}

.title {
  color: var(--clr-white);
  font-weight: 300;
  text-align: center;
  font-size: 0.9rem;
  margin-block: 2rem;
  text-transform: uppercase;
}

.title span {
  color: var(--clr-somehow-gray);
  margin-right: 1rem;
}


.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}


@media (min-width: 780px) {
  .container {
    width: var(--container-md);
    margin-left: 6%;
  }

  .container-section {
    margin: 0 auto;
  }
}

@media (min-width: 1020px) {
  .container {
    width: var(--container-lg);
    margin-left: 5%;
  }
}